<!DOCTYPE html>
<html>

<head>
    <title>Help From Node App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
     {{>header}}
    <p>Text Dynamic Help :: {{text}}</p>
     <p>Text Dynamic Menu :: {{menu}}</p>

     {{>footer}}
</body>

</html>