<!DOCTYPE html>
<html>

<head>
    <title>Page Title From Node App</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"></script>
</head>

<body>
    {{>header}}
    <p>Index file with Dynamic content : {{text}}</p>
    <img src="/img/olive.jpg" alt="olive">

    {{>footer}}
</body>

</html>